$red-color: #CB2A00;
$blue-color: #0FACB3;
$hover-red: #E55D39;
$background-color: #F9EAC7;

.header {
    width: 100%;
}
.nav {
    padding: 38px 0;
}
.hamburger {
    align-self: center;
    cursor: pointer;
    display: none;
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: 0.3s ease;
        background-color: $red-color;
    }
}