<header class="header fx jc-sb">
    <div class="container">
        <div class="nav fx jc-sb ai-c">
            <a href="#" class="logo">kll1she</a>
            <div class="menu">
                <a href="#about" class="menu-item">Обо мне</a>
                <a href="#" class="menu-item">Проекты</a>
                <a href="#" class="menu-item">Связаться</a>
            </div>
            <div class="hamburger" [ngClass]="{active: visibility}" (click)="toggle()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
    <div class="blur"></div>
</header>