<section class="about" id="about">
    <div class="container">
        <div class="block-description fx ai-c">
            <h2 class="block-name">Обо мне</h2>
            <p class="comment">// about me section</p>
        </div>
        <div class="block-content fx">
            <img src="../../../../assets/img/image.jpg" alt="My photo" class="photo">
            <p class="about-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic voluptatem, expedita eaque impedit fugit quo provident, debitis corrupti rem a rerum. Soluta fuga temporibus voluptas tempore natus explicabo ea repellat?</p>
        </div>
    </div>
</section>