<section class="hello">
    <div class="container">
        <div class="name-block">
            <p class="name">Клещевник Максим</p>
        </div>
    </div>
        <div class="marquee-container">
            <p class="marquee">ВЕБ ДИЗАЙН * ЛОГОТИПЫ * ВЁРСТКА * </p>
        </div>
    <div class="container">
        <p class="description">Привет! Меня зовут Максим. Я специалист из Омска.
            Помогу быстро и качественно решить проблемы с дизайном или вёрсткой для вашего сайта и не только.</p>
        <div class="btn-container fx">
            <a href="https://forms.yandex.ru/u/64c0d13484227cacadcbeecc/" class="button">Обсудим ваш проект</a>
        </div>
    </div>
</section>