$background-color: #F9EAC7;
$red-color: #CB2A00;
$blue-color: #0FACB3;
$yellow-color: #E8A910;
$hover-red: #E55D39;

/*---------------SCROLL---------------*/
*,
html *

/* override x.xhtml.ru style */
	{
	scrollbar-width: thin;
	scrollbar-color: $blue-color;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 5px;
	width: 9px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: $background-color;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: $blue-color;
	border-radius: 5px;
}

/*------------------------------*/