@import "/src/null";
@import "/src/scroll.scss";

@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: Actay;
    src: url("../src/assets/font/Actay-Regular.otf");
}
@font-face {
    font-weight: 700; /* Соответствует значению normal */
    font-family: Actay;
    src: url("../src/assets/font/ActayWide-Bold.otf");
}

$background-color: #F9EAC7;
$red-color: #CB2A00;
$blue-color: #0FACB3;
$yellow-color: #E8A910;
$hover-red: #E55D39;

html {
    scroll-behavior: smooth;
}
body {
    background-color: $background-color;
    font-family: 'Actay', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.fx {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.ai-c {
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer {
    padding: 38px 0;
}
.menu-item {
    color: $red-color;
    font-size: 24px;
    transition: 0.2s ease;
    &:not(:last-of-type) {
        margin-right: 35px;
    }
    &:hover {
        border-bottom: 2px solid $blue-color;
    }
}
.logo {
    color: $red-color;
    font-weight: 700;
    font-size: 32px;
    transition: 0.2s ease;
    z-index: 2;
    &:hover {
        color: $hover-red;
    }
}

.block-description {
    margin-bottom: 80px;
    .block-name {
        font-weight: 700;
        font-size: 50px;
        color: $red-color;
        margin-right: 30px;
    }
    .comment {
        font-size: 24px;
        color: $blue-color;
    }
}