
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kll1she-primary: mat.define-palette(mat.$indigo-palette);
$kll1she-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kll1she-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kll1she-theme: mat.define-light-theme((
  color: (
    primary: $kll1she-primary,
    accent: $kll1she-accent,
    warn: $kll1she-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kll1she-theme);

@import "/src/null";
@import "/src/scroll.scss";

@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: Actay;
    src: url("../src/assets/font/Actay-Regular.otf");
}
@font-face {
    font-weight: 700; /* Соответствует значению normal */
    font-family: Actay;
    src: url("../src/assets/font/ActayWide-Bold.otf");
}

$background-color: #F9EAC7;
$red-color: #CB2A00;
$blue-color: #0FACB3;
$yellow-color: #E8A910;
$hover-red: #E55D39;

html {
    scroll-behavior: smooth;
}
body {
    background-color: $background-color;
    font-family: 'Actay', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.fx {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.ai-c {
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer {
    padding: 38px 0;
}
.menu-item {
    color: $red-color;
    font-size: 24px;
    transition: 0.2s ease;
    &:not(:last-of-type) {
        margin-right: 35px;
    }
    &:hover {
        border-bottom: 2px solid $blue-color;
    }
}
.logo {
    color: $red-color;
    font-weight: 700;
    font-size: 32px;
    transition: 0.2s ease;
    z-index: 2;
    &:hover {
        color: $hover-red;
    }
}

.block-description {
    margin-bottom: 80px;
    .block-name {
        font-weight: 700;
        font-size: 50px;
        color: $red-color;
        margin-right: 30px;
    }
    .comment {
        font-size: 24px;
        color: $blue-color;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
