@import "/src/null";

@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: Actay;
    src: url("../src/assets/font/Actay-Regular.otf");
}
@font-face {
    font-weight: 700; /* Соответствует значению normal */
    font-family: Actay;
    src: url("../src/assets/font/ActayWide-Bold.otf");
}

$background-color: #F9EAC7;
$red-color: #CB2A00;
$blue-color: #0FACB3;
$yellow-color: #E8A910;
$hover-red: #E55D39;

body {
    background-color: $background-color;
    font-family: 'Actay', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.fx {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}

.header, .footer {
    padding: 38px 0;
}
.menu-item {
    color: $red-color;
    font-size: 24px;
    transition: 0.2s ease;
    &:not(:last-of-type) {
        margin-right: 35px;
    }
    &:hover {
        border-bottom: 2px solid $blue-color;
    }
}
.logo {
    color: $red-color;
    font-weight: 700;
    font-size: 32px;
    transition: 0.2s ease;
    &:hover {
        color: $hover-red;
    }
}